<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    {% for cliente in customer %}

    <p>Usuario: {{cliente.usuario}}</p>
    <p>Cliente: {{cliente.cliente}}</p>

    <button>
        <a href="{% url 'EliminarClientes' cliente.usuario %}"> Eliminar Cliente </a>
    </button>
   
    <button>
    <a href="{% url 'EditarClientes' cliente.usuario %}"> Editar Cliente </a>
    </button>
    -----------

    {% endfor %}

    <br>
    
    <a href="{% url 'ClientesCrear' %}"> Crear Cliente </a>
    

</body>
</html>