<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    {% for producto in object_list %}

    <p>Nombre: {{producto.nombre}}</p>
    <p>Marca: {{producto.marca}}</p>

    <a href="{% url 'DetalleProducto' producto.id %}"> Detalle Producto </a>

    -----------

    {% endfor %}

    <br>
    
    <a href="{% url 'ProductoCrear' %}"> Crear Producto </a>
    

</body>
</html>